/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@900&display=swap"); */

@tailwind base;

@tailwind components;
@tailwind utilities;

::root {
  --bg-dark: #0f0f0f;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.text-glow {
  text-shadow: 0 0 80px rgba(116, 176, 255, 0.75), 0 0 32px rgb(250, 102, 255);
}
.text-gradient {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  @apply fixed top-0 w-full h-[65px] flex items-center  justify-between py-2.5 px-4 bg-gray-50 z-10  dark:bg-[#050504];
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-700 dark:text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-700 dark:text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-600 dark:text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-700 dark:text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-700 dark:text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

/* .rehype-code-title{
  @apply font-mono bg-gray-300 rounded-md p-2.5
} */

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark:text-gray-50;
}

pre {
  @apply overflow-auto my-2 border border-gray-300 dark:border-[#ffffff17]  p-2.5 rounded-md;
}
pre {
  scrollbar-width: none;
}

.MdxHeadings {
  @apply prose-headings:font-bold prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl;
}

.MdxLists {
  @apply prose-ul:max-w-xl prose-ul:mx-auto  list-outside prose-ul:list-disc prose-ol:list-decimal;
}
